body {
    font-family: verdana;
}

nav {
    display: flex;
    justify-content: space-around;
}

.selected {
    background-color: lightblue;
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
}
form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
span {
    margin-left: 5rem;
}
  