body {
    display: flexbox;
    font-family: verdana;
}

nav {
    display: flex;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid black;
    margin-top: 2rem;
}
.selected {
    background-color: lightblue;
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
}
ul>div {
    display: flex;
    justify-content: space-around;
}
.url {
    list-style: none;
}
button {
    background-color: lightgrey;
}
  